/* =========================================
   VARIABLES
   ========================================= */
:root {
    --bg-main: rgb(8, 57, 65);
    --text-main: rgb(209, 217, 197);
    --accent-pink: rgb(217, 59, 127);
    --light-pink: rgb(227, 155, 167);

    --light-pink-raw: 217, 150, 196;
}

/* =========================================
   GLOBAL STYLES
   ========================================= */
body {
    background-color: var(--bg-main); 
    color: var(--text-main);
    margin: 0; 
}

.page {
    display: none; 
}

.page.active {
    display: block;
}

.page-container {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

/* =========================================
   NAVIGATION & UI COMPONENTS
   ========================================= */
.button {
    color: var(--text-main);
    text-decoration: none;  
    font-weight: bold;
}

.button:hover {
    color: var(--accent-pink);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.button-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: xx-large;
}

.back-button {
    color: var(--text-main);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.back-button:hover {
    color: var(--accent-pink);
}

/* =========================================
   LANDING/HOME PAGE
   ========================================= */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%; 
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    color: var(--text-main);
    width: 32px;  
    height: 32px;
}

.social-icon:hover {
    color: var(--accent-pink);
}

/* =========================================
   PROFILE PAGE
   ========================================= */
#profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills-chart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

#skills-chart-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--text-main);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.metric {
    border: 1px solid var(--light-pink);

    background: linear-gradient(to right, 
        rgba(var(--light-pink-raw), 0.15) 0%,
        transparent 50%, 
        rgba(var(--light-pink-raw), 0.15) 100%);
    
    box-shadow: inset 0 0 10px var(--light-pink);

    color: var(--light-pink);
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}